@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (@User.Identity.Name=="manu@gmail.com"){

        <li class="nav-item">
        <a class="nav-link colorLetter" asp-area="" asp-controller="Home" asp-action="Foto">INGRESE FAIL</a>
    </li>

    }
  
    
}
</ul>